Repository theseriff/jobify: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, mypy, basedpyright, bandit, semgrep, zizmor

lint:
  name: Linter
  entry: just linter
  language: python
  require_serial: true
  verbose: true
  pass_filenames: false

mypy:
  name: Mypy
  entry: just mypy
  language: python
  require_serial: true
  verbose: true
  pass_filenames: false

basedpyright:
  name: Basedpyright
  entry: just basedpyright
  language: python
  require_serial: true
  verbose: true
  pass_filenames: false

bandit:
  name: bandit
  entry: just bandit
  language: python
  require_serial: true
  verbose: true
  pass_filenames: false

semgrep:
  name: semgrep
  language: python
  entry: just semgrep
  require_serial: true
  verbose: true
  pass_filenames: false

zizmor:
  name: zizmor
  language: python
  entry: just zizmor
  require_serial: true
  verbose: true
  pass_filenames: false

refactor: enhance serialization performance and type handling
  benchmarks/benches.json
  benchmarks/serializers.py
  justfile
  src/jobber/_internal/serializers/base.py
  src/jobber/_internal/type_registry.py
  tests/test_exceptions.py
  tests/test_serializer.py
Due: lint, mypy, basedpyright, bandit, semgrep

docs: update README.md
  README.md
  pyproject.toml
  tests/test_serializer.py
Due: lint, mypy, basedpyright, bandit, semgrep

feat: restructure project to use router-based architecture with enhanced scheduling
  README.md
  pyproject.toml
  src/jobber/_internal/message.py
  src/jobber/_internal/middleware/exceptions.py
  src/jobber/_internal/router/root.py
  src/jobber/_internal/runner/runners.py
  src/jobber/_internal/runner/scheduler.py
  src/jobber/_internal/type_registry.py
  src/jobber/jobber.py
  tests/test_injection.py
  tests/test_middleware.py
Due: lint, mypy, basedpyright, bandit, semgrep

chore: remove runtime_checkable and local var registry
  src/jobber/_internal/serializers/base.py
  src/jobber/_internal/type_registry.py
Due: lint, mypy, basedpyright, bandit, semgrep

refactor: replace JSONSerializer with ExtendedJSONSerializer and type registry system
  benchmarks/serializers.py
  src/jobber/_internal/message.py
  src/jobber/_internal/router/root.py
  src/jobber/_internal/serializers/base.py
  src/jobber/_internal/serializers/json.py
  src/jobber/_internal/serializers/json_extended.py
  src/jobber/_internal/serializers/pickle_unsafe.py
  src/jobber/_internal/shared_state.py
  src/jobber/_internal/type_registry.py
  src/jobber/_internal/typeadapter/__init__.py
  src/jobber/_internal/typeadapter/base.py
  src/jobber/_internal/typeadapter/dummy.py
  src/jobber/jobber.py
  src/jobber/serializers/__init__.py
  tests/test_serializer.py
Due: lint, mypy, basedpyright, bandit, semgrep

ci: update pr_codeql.yml
  .github/workflows/pr_codeql.yml
Due: zizmor

feat: enhance job management with storage integration and improved route handling
  .github/workflows/pr_codeql.yml
  src/jobber/_internal/common/constants.py
  src/jobber/_internal/configuration.py
  src/jobber/_internal/exceptions.py
  src/jobber/_internal/message.py
  src/jobber/_internal/router/base.py
  src/jobber/_internal/router/node.py
  src/jobber/_internal/router/root.py
  src/jobber/_internal/runner/job.py
  src/jobber/_internal/runner/scheduler.py
  src/jobber/_internal/storage/abc.py
  src/jobber/_internal/storage/dummy.py
  src/jobber/_internal/storage/sqlite.py
  src/jobber/exceptions/__init__.py
  src/jobber/jobber.py
  tests/test_exceptions.py
  tests/test_func_wrapper.py
  tests/test_job.py
Due: lint, mypy, basedpyright, bandit, semgrep, zizmor

refactor: standardize exception handling and storage API naming
  src/jobber/_internal/configuration.py
  src/jobber/_internal/exceptions.py
  src/jobber/_internal/router/base.py
  src/jobber/_internal/runner/job.py
  src/jobber/_internal/runner/scheduler.py
  src/jobber/_internal/storage/abc.py
  src/jobber/_internal/storage/dummy.py
  src/jobber/_internal/storage/sqlite.py
  tests/test_route.py
Due: lint, mypy, basedpyright, bandit, semgrep

feat: implement SQLite storage and improve async loop handling
  src/jobber/_internal/configuration.py
  src/jobber/_internal/cron_parser.py
  src/jobber/_internal/message.py
  src/jobber/_internal/middleware/exceptions.py
  src/jobber/_internal/runner/runners.py
  src/jobber/_internal/runner/scheduler.py
  src/jobber/_internal/serializers/base.py
  src/jobber/_internal/serializers/json.py
  src/jobber/_internal/serializers/json_extended.py
  src/jobber/_internal/serializers/pickle_unsafe.py
  src/jobber/_internal/storage/abc.py
  src/jobber/_internal/storage/dummy.py
  src/jobber/_internal/storage/sqlite.py
  src/jobber/jobber.py
  src/jobber/serializers/__init__.py
  tests/conftest.py
  tests/test_exceptions.py
  tests/test_injection.py
  tests/test_job.py
  tests/test_lifespan.py
  tests/test_middleware.py
  tests/test_route.py
  tests/test_router.py
  tests/test_serializer.py
Due: lint, mypy, basedpyright, bandit, semgrep

feat: add durable job persistence and storage integration
  src/jobber/_internal/configuration.py
  src/jobber/_internal/runner/job.py
  src/jobber/_internal/runner/scheduler.py
  src/jobber/_internal/storage/abc.py
  src/jobber/_internal/storage/sqlite.py
  tests/test_job.py
Due: lint, mypy, basedpyright, bandit, semgrep

refactor: rename route_name to func_name and improve SQLite storage initialization
  src/jobber/_internal/configuration.py
  src/jobber/_internal/message.py
  src/jobber/_internal/router/base.py
  src/jobber/_internal/router/root.py
  src/jobber/_internal/runner/scheduler.py
  src/jobber/_internal/storage/abc.py
  src/jobber/_internal/storage/sqlite.py
  src/jobber/_internal/typeadapter/dummy.py
  src/jobber/jobber.py
  tests/conftest.py
  tests/test_exceptions.py
  tests/test_job.py
  tests/test_route.py
  tests/test_router.py
  tests/test_scheduler.py
  tests/test_storage.py
Due: lint, mypy, basedpyright, bandit, semgrep

build: update semantic-release configuration and publish workflow
  .github/workflows/pr_dependency_review.yml
  .github/workflows/publish_pypi.yml
  .github/zizmor.yml
  pyproject.toml
  src/jobber/storage/__init__.py
  tests/test_jobber.py
Due: lint, mypy, basedpyright, bandit, semgrep, zizmor

chore: update workflows, license year, and docs configuration
  .github/workflows/docs.yml
  .github/workflows/publish_coverage.yml
  .github/workflows/publish_pypi.yml
  LICENSE
  pyproject.toml
  zensical.toml
Due: zizmor

Update README.md
  README.md
Due: none

Update README.md (#49)
  .github/workflows/pr_codeql.yml
  .github/workflows/pr_dependency_review.yml
  .github/zizmor.yml
  README.md
Due: zizmor

docs: rewrite homepage with project overview and quickstart (#50)
  docs/app_settings.md
  docs/context.md
  docs/index.md
  docs/job.md
  docs/markdown.md
  docs/router.md
  docs/schedule.md
  docs/task_settings.md
  zensical.toml
Due: none

docs: fix formatting and typos in context, router, and task settings
  docs/context.md
  docs/router.md
  docs/task_settings.md
Due: none

docs: fix formatting and typos in context, router, and task settings (#51)
  docs/context.md
  docs/router.md
  docs/task_settings.md
Due: none

Merge pull request #53 from theseriff/fix/ci-pypi
  .github/workflows/publish_pypi.yml
Due: zizmor

fix: ci
  .github/workflows/publish_pypi.yml
  pyproject.toml
Due: zizmor

build(fix): pyproject
  pyproject.toml
Due: none

Fix/ci pypi (#55)
  pyproject.toml
Due: none

fix(ci): ssh-key
  .github/workflows/publish_pypi.yml
Due: zizmor

Fix/ci pypi (#56)
  .github/workflows/publish_pypi.yml
Due: zizmor

fix: ci
  .github/workflows/publish_pypi.yml
  pyproject.toml
  uv.lock
Due: zizmor

Fix/ci pypi (#57)
  .github/workflows/publish_pypi.yml
  pyproject.toml
  uv.lock
Due: zizmor

fix: ci
  .github/workflows/publish_pypi.yml
Due: zizmor

Fix/ci pypi (#59)
  .github/workflows/publish_pypi.yml
  pyproject.toml
Due: zizmor

0.1.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

docs(readme): update README.md
  README.md
Due: none

0.1.0
  docs/CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

refactor: logger name changes
  src/jobify/_internal/middleware/retry.py
  src/jobify/_internal/scheduler/scheduler.py
Due: lint, mypy, basedpyright, bandit, semgrep

refactor(test): switch coverage contexts to pytest-cov
  justfile
  pyproject.toml
  src/jobify/_internal/middleware/base.py
Due: lint, mypy, basedpyright, bandit, semgrep

ci(semantic-release): add --strict mode
  .github/workflows/publish_pypi.yml
Due: zizmor

docs: update middleware examples and improve type hints
  docs/app_settings.md
  docs/task_settings.md
  src/jobify/_internal/middleware/base.py
  zensical.toml
Due: lint, mypy, basedpyright, bandit, semgrep

ci: merge docs workflow and enforce skip-ci policy
  .github/workflows/docs.yml
  .github/workflows/publish_pypi.yml
  pyproject.toml
Due: zizmor

fix(core): sync cron state with DB to fix restart behavior
  README.md
  src/jobify/_internal/router/root.py
  src/jobify/_internal/scheduler/scheduler.py
  src/jobify/_internal/storage/sqlite.py
  src/jobify/jobify.py
  tests/conftest.py
  tests/test_storage.py
Due: lint, mypy, basedpyright, bandit, semgrep

Path conditions:
  lint: any of: \.py$
  mypy: any of: \.py$
  basedpyright: any of: \.py$
  bandit: any of: \.py$
  semgrep: any of: \.py$
  zizmor: any of: ^\.github\/workflows\/
