Repository theseriff/jobify: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, mypy, basedpyright, bandit, semgrep, zizmor

.pre-commit-config.yaml:

default_stages: [pre-commit, pre-merge-commit, manual]
repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.2.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args:
          [
            --strict,
            --force-scope,
            feat,
            fix,
            docs,
            style,
            refactor,
            test,
            chore,
            build,
          ]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-yaml
      - id: check-toml
      - id: check-added-large-files
      - id: check-case-conflict
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/crate-ci/typos
    rev: v1.36.3
    hooks:
      - id: typos

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets

  - repo: local
    hooks:
      - id: lint
        name: Linter
        entry: just linter
        language: python
        types: [python]
        require_serial: true
        verbose: true
        pass_filenames: false

      - id: mypy
        name: Mypy
        entry: just mypy
        language: python
        types: [python]
        require_serial: true
        verbose: true
        pass_filenames: false

      - id: basedpyright
        name: Basedpyright
        entry: just basedpyright
        language: python
        types: [python]
        require_serial: true
        verbose: true
        pass_filenames: false

      - id: bandit
        name: bandit
        entry: just bandit
        language: python
        types: [python]
        require_serial: true
        verbose: true
        pass_filenames: false

      - id: semgrep
        name: semgrep
        language: python
        entry: just semgrep
        types: [python]
        require_serial: true
        verbose: true
        pass_filenames: false

      - id: zizmor
        name: zizmor
        language: python
        entry: just zizmor
        files: ^\.github\/workflows\/
        require_serial: true
        verbose: true
        pass_filenames: false

docs: add exception_handlers
  docs/advanced_usage/exception_handlers.md
  docs/advanced_usage/exceptions.md
  docs/app_settings.md
  docs/index.md
  docs/router.md
  docs/task_settings.md
  zensical.toml
Due: none

chore(release): release v0.8.1 [skip ci]
  docs/CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

docs(task_settings): improve describe run mode
  docs/task_settings.md
Due: none

chore: update README.md
  README.md
Due: none

docs: Add FastAPI example and fix dishka-jobify description
  docs/integrations.md
Due: none

chore: allow EmptyPlaceholder to be serializible
  src/jobify/_internal/common/datastructures.py
  tests/test_datastructures.py
Due: lint, mypy, basedpyright, bandit, semgrep

docs: enhance feature showcase and add system time trade-off docs
  .github/dependabot.yml
  README.md
  docs/advanced_usage/system_time.md
  docs/index.md
  docs/integrations.md
  docs/schedule.md
  zensical.toml
Due: none

feat: add NoResultError to abort retries immediately
  docs/advanced_usage/exception_handlers.md
  src/jobify/_internal/common/datastructures.py
  src/jobify/_internal/exceptions.py
  src/jobify/_internal/middleware/retry.py
  src/jobify/_internal/scheduler/job.py
  src/jobify/exceptions/__init__.py
  tests/test_middleware.py
Due: lint, mypy, basedpyright, bandit, semgrep

chore(release): release v0.9.0 [skip ci]
  docs/CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

chore(typeadapter): expose Dumper and Loader interfaces internally
  src/jobify/_internal/configuration.py
  src/jobify/_internal/context.py
  src/jobify/typeadapter/__init__.py
Due: lint, mypy, basedpyright, bandit, semgrep

refactor(benchmarks): improve latency and throughput measurements
  benchmarks/bench.py
  benchmarks/benches.json
  benchmarks/latency_run.py
  benchmarks/serializers.py
  pyproject.toml
Due: lint, mypy, basedpyright, bandit, semgrep

chore(benchmarks): improve warmup and measurement methodology
  benchmarks/README.md
  benchmarks/benches.json
  benchmarks/latency_run.py
  benchmarks/serializers.py
  justfile
  uv.lock
Due: lint, mypy, basedpyright, bandit, semgrep

chore(benchmarks): improve output results
  .pre-commit-config.yaml
  benchmarks/bench.py
  benchmarks/benches.json
  benchmarks/latency_run.py
  benchmarks/results.txt
  benchmarks/serializers.py
  pyproject.toml
  uv.lock
Due: lint, mypy, basedpyright, bandit, semgrep

chore: update project metadata to PEP 639 and improve benchmarks
  benchmarks/bench.py
  benchmarks/jobify_app.py
  benchmarks/results.txt
  justfile
  pyproject.toml
Due: lint, mypy, basedpyright, bandit, semgrep

perf(context): cache inject_params in FuncSpec, pass func_spec via Runnable
  src/jobify/__init__.py
  src/jobify/_internal/context.py
  src/jobify/_internal/inspection.py
  src/jobify/_internal/router/root.py
  src/jobify/_internal/runners.py
  src/jobify/_internal/scheduler/scheduler.py
  src/jobify/_internal/serializers/json_extended.py
  src/jobify/jobify.py
  tests/test_injection.py
Due: lint, mypy, basedpyright, bandit, semgrep

ci: add paths filters to publish workflows
  .github/workflows/publish_coverage.yml
  .github/workflows/publish_pypi.yml
  benchmarks/jobify_app.py
Due: lint, mypy, basedpyright, bandit, semgrep, zizmor

chore(release): release v0.9.1 [skip ci]
  docs/CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

Update integrations.md
  docs/integrations.md
Due: none

perf(storage): replace threading lock with asyncio.Queue in SQLiteStorage
  benchmarks/results.txt
  src/jobify/_internal/storage/sqlite.py
  tests/test_storage.py
Due: lint, mypy, basedpyright, bandit, semgrep

chore(release): release v0.9.2 [skip ci]
  docs/CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

docs(update): fixed links
  docs/integrations.md
Due: none

chore: add a badge downloads metrics
  README.md
Due: none

chore: Update README.md
  README.md
Due: none

chore: add telegram label
  README.md
Due: none

feat(job): make Job awaitable and inject schedule_builder
  docs/context.md
  docs/job.md
  src/jobify/_internal/context.py
  src/jobify/_internal/middleware/exceptions.py
  src/jobify/_internal/router/root.py
  src/jobify/_internal/scheduler/job.py
  src/jobify/_internal/scheduler/scheduler.py
  tests/test_injection.py
  tests/test_job.py
Due: lint, mypy, basedpyright, bandit, semgrep

docs(job): `await job` info added
  docs/job.md
  pyproject.toml
Due: none

chore(release): release v0.10.0 [skip ci]
  docs/CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

refactor(benchmarks): simplify benchmark matrix and improve measurement accuracy
  .gitignore
  benchmarks/bench.py
  benchmarks/jobify_app.py
  benchmarks/results.txt
Due: lint, mypy, basedpyright, bandit, semgrep

docs: many adapters to database
  README.md
  docs/index.md
Due: none

perf: cache is_persist flag
  src/jobify/_internal/router/root.py
  src/jobify/_internal/scheduler/scheduler.py
Due: lint, mypy, basedpyright, bandit, semgrep

refactor(sqlite): SQLiteStorage worker
  .github/workflows/publish_coverage.yml
  justfile
  src/jobify/_internal/router/base.py
  src/jobify/_internal/storage/sqlite.py
  tests/test_storage.py
Due: lint, mypy, basedpyright, bandit, semgrep, zizmor

chore(release): release v0.10.1 [skip ci]
  docs/CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

ci: migrate to uv, prek and fix coverage aggregation
  .github/workflows/pr_tests.yml
  .github/workflows/publish_pypi.yml
  .pre-commit-config.yaml
  justfile
  pyproject.toml
  uv.lock
Due: zizmor

ci: add GitHub release upload and fix concurrency
  .github/workflows/publish_pypi.yml
Due: zizmor

ci: execution of pr_tests cron increaseed
  .github/workflows/pr_tests.yml
  pyproject.toml
Due: zizmor

ci: refactor smokeshow
  .github/workflows/pr_tests.yml
  .github/workflows/publish_coverage.yml
Due: zizmor
