Repository theseriff/jobify: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, mypy, basedpyright, bandit, semgrep, zizmor

.pre-commit-config.yaml:

default_stages: [pre-commit, pre-merge-commit, manual]
repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.2.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args:
          [
            --strict,
            --force-scope,
            feat,
            fix,
            docs,
            style,
            refactor,
            test,
            chore,
            build,
          ]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-yaml
      - id: check-toml
      - id: check-added-large-files
      - id: check-case-conflict
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/crate-ci/typos
    rev: v1.36.3
    hooks:
      - id: typos

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets

  - repo: local
    hooks:
      - id: lint
        name: Linter
        entry: just linter
        language: python
        types: [python]
        require_serial: true
        verbose: true
        pass_filenames: false

      - id: mypy
        name: Mypy
        entry: just mypy
        language: python
        types: [python]
        require_serial: true
        verbose: true
        pass_filenames: false

      - id: basedpyright
        name: Basedpyright
        entry: just basedpyright
        language: python
        types: [python]
        require_serial: true
        verbose: true
        pass_filenames: false

      - id: bandit
        name: bandit
        entry: just bandit
        language: python
        types: [python]
        require_serial: true
        verbose: true
        pass_filenames: false

      - id: semgrep
        name: semgrep
        language: python
        entry: just semgrep
        types: [python]
        require_serial: true
        verbose: true
        pass_filenames: false

      - id: zizmor
        name: zizmor
        language: python
        entry: just zizmor
        files: ^\.github\/workflows\/
        require_serial: true
        verbose: true
        pass_filenames: false

docs: update comparison table and add note about durable performance
  docs/index.md
  docs/task_settings.md
Due: none

Fix/cron last run update (#66)
  .github/workflows/docs.yml
  .github/workflows/publish_pypi.yml
  README.md
  docs/app_settings.md
  docs/index.md
  docs/task_settings.md
  pyproject.toml
  src/jobify/_internal/middleware/base.py
  src/jobify/_internal/router/root.py
  src/jobify/_internal/scheduler/scheduler.py
  src/jobify/_internal/storage/sqlite.py
  src/jobify/jobify.py
  tests/conftest.py
  tests/test_storage.py
  zensical.toml
Due: lint, mypy, basedpyright, bandit, semgrep, zizmor

chore(release): release v0.1.2 [skip ci]
  docs/CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

feat: add misfire policy support and improve serializers
  benchmarks/benches.json
  benchmarks/serializers.py
  docs/app_settings.md
  src/jobify/__init__.py
  src/jobify/_internal/configuration.py
  src/jobify/_internal/misfire_policy.py
  src/jobify/_internal/router/root.py
  src/jobify/_internal/serializers/json_extended.py
  src/jobify/jobify.py
  tests/test_serializer.py
  tests/test_storage.py
Due: lint, mypy, basedpyright, bandit, semgrep

BREAKING CHANGE: refactor storage and cron scheduling
  src/jobify/_internal/scheduler/scheduler.py
  src/jobify/_internal/storage/abc.py
  src/jobify/_internal/storage/dummy.py
  src/jobify/_internal/storage/sqlite.py
  tests/test_storage.py
Due: lint, mypy, basedpyright, bandit, semgrep

refactor: reorganize misfire policy and schedule restoration
  src/jobify/__init__.py
  src/jobify/_internal/configuration.py
  src/jobify/_internal/router/root.py
  src/jobify/_internal/scheduler/misfire_policy.py
  src/jobify/jobify.py
Due: lint, mypy, basedpyright, bandit, semgrep

feat(scheduler): implement code-first reconciliation and misfire foundation
  src/jobify/_internal/scheduler/scheduler.py
  src/jobify/jobify.py
  tests/test_storage.py
Due: lint, mypy, basedpyright, bandit, semgrep

feat: add ZoneInfo serialization support to JSON extended encoder/decoder
  src/jobify/_internal/serializers/json_extended.py
  tests/test_serializer.py
Due: lint, mypy, basedpyright, bandit, semgrep

feat!: simplify API, add misfire policy, and improve storage
  src/jobify/_internal/message.py
  src/jobify/_internal/scheduler/misfire_policy.py
  src/jobify/_internal/scheduler/scheduler.py
  src/jobify/_internal/storage/abc.py
  src/jobify/_internal/storage/dummy.py
  src/jobify/_internal/storage/sqlite.py
  src/jobify/jobify.py
  tests/conftest.py
  tests/test_cron.py
  tests/test_jobify.py
  tests/test_scheduler.py
  tests/test_storage.py
Due: lint, mypy, basedpyright, bandit, semgrep

refactor: replace TypedDict with NamedTuple for trigger arguments
  README.md
  src/jobify/_internal/message.py
  src/jobify/_internal/scheduler/scheduler.py
  src/jobify/jobify.py
  tests/test_storage.py
Due: lint, mypy, basedpyright, bandit, semgrep

fix: add offset to CronArguments for proper schedule restoration
  README.md
  src/jobify/_internal/message.py
  src/jobify/_internal/scheduler/scheduler.py
  src/jobify/_internal/storage/sqlite.py
  src/jobify/jobify.py
  tests/test_jobify.py
  tests/test_storage.py
Due: lint, mypy, basedpyright, bandit, semgrep

docs: update feature comparison table and dynamic scheduling examples
  docs/index.md
  docs/schedule.md
  docs/task_settings.md
  pyproject.toml
  src/jobify/jobify.py
  tests/test_storage.py
Due: lint, mypy, basedpyright, bandit, semgrep

chore(release): release v0.2.0 [skip ci]
  docs/CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

refactor: consolidate injection logic into context module
  src/jobify/__init__.py
  src/jobify/_internal/context.py
  src/jobify/_internal/injection.py
  src/jobify/_internal/router/root.py
  tests/test_injection.py
Due: lint, mypy, basedpyright, bandit, semgrep

fix(storage/sqlite): prevent segmentation fault on shutdown
  src/jobify/_internal/storage/sqlite.py
Due: lint, mypy, basedpyright, bandit, semgrep

fix: correct cron restoration and misfire handling on startup
  src/jobify/_internal/message.py
  src/jobify/_internal/router/base.py
  src/jobify/_internal/router/root.py
  src/jobify/_internal/scheduler/scheduler.py
  src/jobify/jobify.py
  tests/test_jobify.py
Due: lint, mypy, basedpyright, bandit, semgrep

chore(release): release v0.2.1 [skip ci]
  docs/CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

docs: clean up formatting and improve cross-referencing
  docs/app_settings.md
  docs/index.md
  docs/schedule.md
  docs/task_settings.md
Due: none

refactor: rename serializer methods and update documentation config
  README.md
  pyproject.toml
  src/jobify/_internal/router/root.py
  src/jobify/_internal/serializers/json_extended.py
  tests/test_serializer.py
  tests/test_storage.py
  uv.lock
  zensical.toml
Due: lint, mypy, basedpyright, bandit, semgrep

fix(resolve_name): robust task ID generation via inspect and pathlib
  src/jobify/_internal/router/base.py
Due: lint, mypy, basedpyright, bandit, semgrep

BREAKING CHANGE: rename func_name to name across the entire core and storage
  docs/router.md
  docs/task_settings.md
  src/jobify/_internal/configuration.py
  src/jobify/_internal/message.py
  src/jobify/_internal/router/base.py
  src/jobify/_internal/router/root.py
  src/jobify/_internal/scheduler/scheduler.py
  src/jobify/_internal/storage/abc.py
  src/jobify/_internal/storage/sqlite.py
  src/jobify/jobify.py
  tests/test_exceptions.py
  tests/test_job.py
  tests/test_route.py
  tests/test_router.py
  tests/test_scheduler.py
  tests/test_storage.py
Due: lint, mypy, basedpyright, bandit, semgrep

feat: allow replacing existing jobs by ID
  src/jobify/_internal/scheduler/job.py
  src/jobify/_internal/scheduler/scheduler.py
  src/jobify/jobify.py
  tests/test_scheduler.py
  tests/test_storage.py
Due: lint, mypy, basedpyright, bandit, semgrep

docs: update dynamic scheduling docs with replace parameter
  docs/schedule.md
  tests/test_route.py
  tests/test_scheduler.py
Due: lint, mypy, basedpyright, bandit, semgrep

chore(release): release v0.3.0 [skip ci]
  docs/CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

fix: resolve cron lifecycle, context injection, and misfire policy issues
  .pre-commit-config.yaml
  src/jobify/_internal/common/constants.py
  src/jobify/_internal/context.py
  src/jobify/_internal/router/base.py
  src/jobify/_internal/router/root.py
  src/jobify/_internal/scheduler/scheduler.py
  src/jobify/jobify.py
  tests/test_injection.py
  tests/test_jobify.py
  tests/test_storage.py
Due: lint, mypy, basedpyright, bandit, semgrep

chore(release): release v0.3.1 [skip ci]
  docs/CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

perf(wait_all): implement idle state tracking using asyncio.Event
  src/jobify/_internal/context.py
  src/jobify/_internal/router/root.py
  src/jobify/_internal/runners.py
  src/jobify/_internal/scheduler/job.py
  src/jobify/_internal/scheduler/scheduler.py
  src/jobify/_internal/shared_state.py
  src/jobify/jobify.py
  tests/test_injection.py
  tests/test_job.py
  tests/test_storage.py
Due: lint, mypy, basedpyright, bandit, semgrep

chore(release): release v0.3.2 [skip ci]
  docs/CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

refactor: simplify parameter passing and storage initialization
  src/jobify/_internal/scheduler/scheduler.py
  src/jobify/jobify.py
  tests/test_jobify.py
Due: lint, mypy, basedpyright, bandit, semgrep

fix: ensure signals are captured and restored during wait_all
  src/jobify/_internal/scheduler/scheduler.py
  src/jobify/_internal/storage/sqlite.py
  src/jobify/jobify.py
  tests/test_jobify.py
Due: lint, mypy, basedpyright, bandit, semgrep

chore(release): release v0.3.3 [skip ci]
  docs/CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

refactor: unify job serialization and improve internal naming
  src/jobify/_internal/configuration.py
  src/jobify/_internal/scheduler/job.py
  src/jobify/_internal/scheduler/scheduler.py
  src/jobify/_internal/storage/abc.py
  src/jobify/jobify.py
  tests/test_job.py
  tests/test_jobify.py
Due: lint, mypy, basedpyright, bandit, semgrep

fix(jobify.shutdown): order cancel jobs changes
  src/jobify/_internal/configuration.py
  src/jobify/_internal/scheduler/job.py
  src/jobify/_internal/scheduler/scheduler.py
  src/jobify/jobify.py
  tests/test_scheduler.py
Due: lint, mypy, basedpyright, bandit, semgrep

refactor(scheduler): decompose cron methods into creation and update logic
  src/jobify/_internal/scheduler/scheduler.py
  src/jobify/jobify.py
  tests/test_scheduler.py
Due: lint, mypy, basedpyright, bandit, semgrep

feat(scheduler): implement idempotent start_date for cron jobs
  src/jobify/_internal/scheduler/scheduler.py
  tests/test_cron.py
  tests/test_job.py
  tests/test_jobify.py
  tests/test_scheduler.py
  tests/test_storage.py
Due: lint, mypy, basedpyright, bandit, semgrep

docs: update cron documentation and add integrations page
  docs/integrations.md
  docs/schedule.md
  docs/task_settings.md
  tests/test_scheduler.py
  zensical.toml
Due: lint, mypy, basedpyright, bandit, semgrep

chore(release): release v0.4.0 [skip ci]
  docs/CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

feat(cron): implement stateful run_count and automatic database cleanup
  docs/schedule.md
  docs/task_settings.md
  src/jobify/__init__.py
  src/jobify/_internal/message.py
  src/jobify/_internal/scheduler/job.py
  src/jobify/_internal/scheduler/scheduler.py
  src/jobify/jobify.py
  tests/conftest.py
  tests/test_cron.py
  tests/test_jobify.py
  tests/test_scheduler.py
  tests/test_storage.py
Due: lint, mypy, basedpyright, bandit, semgrep

chore(release): release v0.5.0 [skip ci]
  docs/CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

fix(core): sync trigger offset in storage during schedule restoration
  src/jobify/jobify.py
  tests/test_storage.py
Due: lint, mypy, basedpyright, bandit, semgrep
