Repository theseriff/jobify: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, mypy, basedpyright, bandit, semgrep, zizmor

.pre-commit-config.yaml:

default_stages: [pre-commit, pre-merge-commit, manual]
repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.2.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args:
          [
            --strict,
            --force-scope,
            feat,
            fix,
            docs,
            style,
            refactor,
            test,
            chore,
            build,
          ]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-yaml
      - id: check-toml
      - id: check-added-large-files
      - id: check-case-conflict
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/crate-ci/typos
    rev: v1.36.3
    hooks:
      - id: typos

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets

  - repo: local
    hooks:
      - id: lint
        name: Linter
        entry: just linter
        language: python
        types: [python]
        require_serial: true
        verbose: true
        pass_filenames: false

      - id: mypy
        name: Mypy
        entry: just mypy
        language: python
        types: [python]
        require_serial: true
        verbose: true
        pass_filenames: false

      - id: basedpyright
        name: Basedpyright
        entry: just basedpyright
        language: python
        types: [python]
        require_serial: true
        verbose: true
        pass_filenames: false

      - id: bandit
        name: bandit
        entry: just bandit
        language: python
        types: [python]
        require_serial: true
        verbose: true
        pass_filenames: false

      - id: semgrep
        name: semgrep
        language: python
        entry: just semgrep
        types: [python]
        require_serial: true
        verbose: true
        pass_filenames: false

      - id: zizmor
        name: zizmor
        language: python
        entry: just zizmor
        files: ^\.github\/workflows\/
        require_serial: true
        verbose: true
        pass_filenames: false

ci: add CodSpeed benchmark workflow and badge
  .github/workflows/codspeed.yml
  README.md
  examples/fast_setup.py
Due: lint, mypy, basedpyright, bandit, semgrep, zizmor

build: add adaptix to test group
  pyproject.toml
  uv.lock
Due: none

chore(release): release v0.12.0 [skip ci]
  docs/CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

fix: trigger worflow pypi
  pyproject.toml
Due: none

chore(release): release v0.12.1 [skip ci]
  docs/CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

docs: add Job type hints to examples, minor code cleanups
  README.md
  docs/index.md
  pyproject.toml
  src/jobify/_internal/middleware/queue.py
  src/jobify/jobify.py
Due: lint, mypy, basedpyright, bandit, semgrep

ci: disable automatic CodSpeed runs, keep only manual trigger
  .github/workflows/codspeed.yml
Due: zizmor

feat: inject Jobify app instance into contexts, configuration, and tasks
  src/jobify/__init__.py
  src/jobify/_internal/configuration.py
  src/jobify/_internal/context.py
  src/jobify/_internal/scheduler/scheduler.py
  src/jobify/jobify.py
  tests/test_injection.py
Due: lint, mypy, basedpyright, bandit, semgrep

add `uuid7-rs`
  pyproject.toml
Due: none

chore(deps): replace uuid-utils with uuid7-rs
  examples/fast_setup.py
  pyproject.toml
  uv.lock
Due: lint, mypy, basedpyright, bandit, semgrep

feat: make push() idempotent with replace/force flags
  .pre-commit-config.yaml
  pyproject.toml
  src/jobify/_internal/scheduler/scheduler.py
  tests/test_scheduler.py
  uv.lock
Due: lint, mypy, basedpyright, bandit, semgrep

docs: add idempotency example for push() with replace/force
  docs/schedule.md
  zensical.toml
Due: none

chore: bump jobify to 0.13.0, uuid7-rs to 0.0.8, ignore ERA001 in examples
  examples/fast_setup.py
  pyproject.toml
Due: lint, mypy, basedpyright, bandit, semgrep

fix(shutdown): reorder sequence to prevent future race in storage
  .pre-commit-config.yaml
  justfile
  pyproject.toml
  src/jobify/_internal/middleware/exceptions.py
  src/jobify/_internal/router/base.py
  src/jobify/_internal/router/root.py
  src/jobify/_internal/runners.py
  src/jobify/jobify.py
  uv.lock
Due: lint, mypy, basedpyright, bandit, semgrep

build(deps): bump github-actions group with 4 updates
  .github/workflows/pr_codeql.yml
  .github/workflows/pr_dependency_review.yml
  .github/workflows/pr_tests.yml
  .github/workflows/publish_coverage.yml
Due: zizmor

fix: test
  pyproject.toml
Due: none

build(deps): bump pip
  pyproject.toml
  uv.lock
Due: none

build(deps): bump the pip group with 13 updates
  examples/fast_setup.py
  pyproject.toml
  src/jobify/_internal/configuration.py
  src/jobify/jobify.py
  uv.lock
Due: lint, mypy, basedpyright, bandit, semgrep

chore(release): release v0.13.0 [skip ci]
  docs/CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

docs: add app attribute to context docstrings
  docs/context.md
  pyproject.toml
  src/jobify/_internal/context.py
  src/jobify/jobify.py
Due: lint, mypy, basedpyright, bandit, semgrep

ci: enable Dependabot automerge
  .github/workflows/dependabot_automerge.yml
Due: zizmor

build(deps): bump the github-actions group with 8 updates
  .github/workflows/codspeed.yml
  .github/workflows/pr_codeql.yml
  .github/workflows/pr_tests.yml
  .github/workflows/publish_coverage.yml
  .github/workflows/publish_pypi.yml
Due: zizmor

build(deps): bump the pip group with 14 updates
  pyproject.toml
  uv.lock
Due: none

style: update type checker and linter settings, reorder None in SupportedTypes, fix async override
  pyproject.toml
  src/jobify/_internal/router/node.py
  src/jobify/_internal/router/root.py
  src/jobify/_internal/runners.py
  src/jobify/_internal/serializers/json_extended.py
  tests/test_injection.py
Due: lint, mypy, basedpyright, bandit, semgrep

ci: allow automerge dev-deps for major, minor and patch
  .github/workflows/dependabot_automerge.yml
Due: zizmor
