Repository theseriff/jobify: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, mypy, basedpyright, bandit, semgrep, zizmor

.pre-commit-config.yaml:

default_stages: [pre-commit, pre-merge-commit, manual]
repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.2.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args:
          [
            --strict,
            --force-scope,
            feat,
            fix,
            docs,
            style,
            refactor,
            test,
            chore,
            build,
          ]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-yaml
      - id: check-toml
      - id: check-added-large-files
      - id: check-case-conflict
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/crate-ci/typos
    rev: v1.36.3
    hooks:
      - id: typos

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets

  - repo: local
    hooks:
      - id: lint
        name: Linter
        entry: just linter
        language: python
        types: [python]
        require_serial: true
        verbose: true
        pass_filenames: false

      - id: mypy
        name: Mypy
        entry: just mypy
        language: python
        types: [python]
        require_serial: true
        verbose: true
        pass_filenames: false

      - id: basedpyright
        name: Basedpyright
        entry: just basedpyright
        language: python
        types: [python]
        require_serial: true
        verbose: true
        pass_filenames: false

      - id: bandit
        name: bandit
        entry: just bandit
        language: python
        types: [python]
        require_serial: true
        verbose: true
        pass_filenames: false

      - id: semgrep
        name: semgrep
        language: python
        entry: just semgrep
        types: [python]
        require_serial: true
        verbose: true
        pass_filenames: false

      - id: zizmor
        name: zizmor
        language: python
        entry: just zizmor
        files: ^\.github\/workflows\/
        require_serial: true
        verbose: true
        pass_filenames: false

refactor: replace warning to info level log
  src/jobify/_internal/scheduler/scheduler.py
Due: lint, mypy, basedpyright, bandit, semgrep

ci: refactor smokeshow
  .github/workflows/pr_tests.yml
  .github/workflows/publish_coverage.yml
Due: zizmor

chore(lint): migrate from basedpyright to pyrefly, bump mypy to 2.0
  .github/workflows/publish_coverage.yml
  .pre-commit-config.yaml
  justfile
  pyproject.toml
  src/jobify/_internal/configuration.py
  src/jobify/_internal/context.py
  src/jobify/_internal/inspection.py
  src/jobify/_internal/middleware/exceptions.py
  src/jobify/_internal/router/base.py
  src/jobify/_internal/router/root.py
  src/jobify/_internal/runners.py
  src/jobify/_internal/scheduler/job.py
  src/jobify/_internal/scheduler/scheduler.py
  src/jobify/_internal/serializers/json_extended.py
  src/jobify/crontab.py
  src/jobify/jobify.py
  tests/test_injection.py
  tests/test_lifespan.py
  tests/test_storage.py
  uv.lock
Due: lint, mypy, basedpyright, bandit, semgrep, zizmor

feat(plugins): add Plugin lifecycle system with QueueMiddleware, unify STOP/UNSET sentinels
  pyproject.toml
  src/jobify/_internal/common/datastructures.py
  src/jobify/_internal/common/types.py
  src/jobify/_internal/configuration.py
  src/jobify/_internal/context.py
  src/jobify/_internal/inspection.py
  src/jobify/_internal/middleware/queue.py
  src/jobify/_internal/plugins.py
  src/jobify/_internal/router/base.py
  src/jobify/_internal/router/root.py
  src/jobify/_internal/scheduler/scheduler.py
  src/jobify/_internal/serializers/base.py
  src/jobify/_internal/serializers/json_extended.py
  src/jobify/_internal/storage/sqlite.py
  src/jobify/jobify.py
  tests/test_cron.py
  tests/test_exceptions.py
  tests/test_job.py
  tests/test_jobify.py
  tests/test_middleware.py
Due: lint, mypy, basedpyright, bandit, semgrep

refactor: replace generic Plugin[AppType] with structural Protocol
  .gitignore
  src/jobify/__init__.py
  src/jobify/_internal/middleware/base.py
  src/jobify/_internal/middleware/queue.py
  src/jobify/_internal/plugins.py
  src/jobify/jobify.py
  src/jobify/middleware/__init__.py
  tests/test_middleware.py
Due: lint, mypy, basedpyright, bandit, semgrep

docs: update README.md
  docs/images/favicon.svg
  docs/images/logo.svg
Due: none

docs: re-design style
  README.md
  docs/advanced_usage/exception_handlers.md
  docs/advanced_usage/exceptions.md
  docs/advanced_usage/queue.md
  docs/advanced_usage/system_time.md
  docs/app_settings.md
  docs/context.md
  docs/index.md
  docs/integrations.md
  docs/job.md
  docs/router.md
  docs/schedule.md
  docs/task_settings.md
  pyproject.toml
  src/jobify/jobify.py
  uv.lock
  zensical.toml
Due: lint, mypy, basedpyright, bandit, semgrep

ci: fix pull repo
  .github/workflows/publish_pypi.yml
Due: zizmor

chore(release): release v0.11.0 [skip ci]
  docs/CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

docs: update README.md
  README.md
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Update pr_tests.yml
  .github/workflows/pr_tests.yml
Due: zizmor

Update README.md
  README.md
Due: none

refactor(typing): add typehints for common and router constants
  src/jobify/_internal/common/constants.py
  src/jobify/_internal/router/root.py
Due: lint, mypy, basedpyright, bandit, semgrep

chore: replace types-setuptools with types-python-crontab
  pyproject.toml
  src/jobify/crontab.py
  uv.lock
Due: lint, mypy, basedpyright, bandit, semgrep

feat(retry): refactor SmartRetry to align with Airflow behavior
  src/jobify/__init__.py
  src/jobify/_internal/configuration.py
  src/jobify/_internal/middleware/retry.py
  src/jobify/_internal/router/root.py
  tests/test_middleware.py
Due: lint, mypy, basedpyright, bandit, semgrep

refactor(exceptions): remove NoResultError and improve test coverage
  src/jobify/_internal/exceptions.py
  src/jobify/exceptions/__init__.py
  tests/test_exceptions.py
Due: lint, mypy, basedpyright, bandit, semgrep

docs: re-design documentation with Zensical modern patterns
  docs/advanced_usage/exception_handlers.md
  docs/advanced_usage/retry.md
  docs/context.md
  docs/contributing.md
  docs/index.md
  docs/task_settings.md
  tests/test_exceptions.py
Due: lint, mypy, basedpyright, bandit, semgrep

docs: add Google-style docstrings for public API
  src/jobify/_internal/common/constants.py
  src/jobify/_internal/common/datastructures.py
  src/jobify/_internal/common/types.py
  src/jobify/_internal/configuration.py
  src/jobify/_internal/context.py
  src/jobify/_internal/inspection.py
  src/jobify/_internal/message.py
  src/jobify/_internal/middleware/queue.py
  src/jobify/_internal/router/node.py
  src/jobify/_internal/runners.py
  src/jobify/_internal/scheduler/job.py
  src/jobify/_internal/scheduler/misfire_policy.py
  src/jobify/_internal/scheduler/scheduler.py
  src/jobify/_internal/serializers/base.py
  src/jobify/_internal/storage/base.py
  src/jobify/_internal/storage/sqlite.py
  src/jobify/_internal/typeadapter/base.py
  src/jobify/crontab.py
  src/jobify/jobify.py
  tests/test_middleware.py
  zensical.toml
Due: lint, mypy, basedpyright, bandit, semgrep

chore(deps): update dependencies and configuration
  docs/api_reference/index.md
  pyproject.toml
  src/jobify/jobify.py
  uv.lock
  zensical.toml
Due: lint, mypy, basedpyright, bandit, semgrep

feat: allow custom UUID generator in configuration
  src/jobify/_internal/configuration.py
  src/jobify/_internal/scheduler/scheduler.py
  src/jobify/jobify.py
Due: lint, mypy, basedpyright, bandit, semgrep

feat(serializers): add orjson support
  src/jobify/serializers/orjson.py
Due: lint, mypy, basedpyright, bandit, semgrep

feat(serializers): add cbor support
  src/jobify/serializers/cbor.py
Due: lint, mypy, basedpyright, bandit, semgrep

feat: add optional support for cbor and orjson serializers
  justfile
  pyproject.toml
  src/jobify/serializers/__init__.py
  tests/test_serializer.py
  uv.lock
Due: lint, mypy, basedpyright, bandit, semgrep

feat(serializers): add msgpack support
  pyproject.toml
  src/jobify/serializers/msgpack.py
  tests/test_serializer.py
Due: lint, mypy, basedpyright, bandit, semgrep

feat(typeadapter): add pydantic support
  pyproject.toml
  src/jobify/typeadapter/pydantic.py
  zensical.toml
Due: lint, mypy, basedpyright, bandit, semgrep

docs: update index.md
  docs/index.md
Due: none

refactor: enhance serialization core and update CI/CD pipelines
  .github/workflows/pr_tests.yml
  .github/workflows/publish_pypi.yml
  benchmarks/bench.py
  benchmarks/jobify_app.py
  benchmarks/results.txt
  docs/api_reference/index.md
  src/jobify/_internal/router/root.py
  src/jobify/serializers/__init__.py
  src/jobify/serializers/cbor.py
  src/jobify/typeadapter/__init__.py
  src/jobify/typeadapter/pydantic.py
  uv.lock
Due: lint, mypy, basedpyright, bandit, semgrep, zizmor

Improve benchmark harness
  benchmarks/README.md
  benchmarks/bench.py
  benchmarks/common.py
  benchmarks/jobify_app.py
  benchmarks/registry.py
  benchmarks/results.txt
  benchmarks/serializers.py
  benchmarks/typeadapters.py
  tests/test_typeadapter.py
Due: lint, mypy, basedpyright, bandit, semgrep

feat: add adaptix support and expand API documentation
  docs/api_reference/index.md
  justfile
  pyproject.toml
  src/jobify/_internal/configuration.py
  src/jobify/typeadapter/pydantic.py
  tests/conftest.py
  tests/test_storage.py
  tests/test_typeadapters.py
  uv.lock
Due: lint, mypy, basedpyright, bandit, semgrep

refactor: explicit lifespan management and fix storage cleanup in tests
  pyproject.toml
  src/jobify/_internal/router/base.py
  src/jobify/_internal/runners.py
  src/jobify/jobify.py
  tests/conftest.py
  tests/test_jobify.py
  tests/test_typeadapters.py
  uv.lock
Due: lint, mypy, basedpyright, bandit, semgrep

refactor(benchmarks): bench serializers rewrited
  .github/workflows/pr_tests.yml
  benchmarks/bench.py
  benchmarks/jobify_app.py
  benchmarks/results.txt
  benchmarks/serializers.py
  benchmarks/serializers/__init__.py
  benchmarks/serializers/common.py
  benchmarks/serializers/test_cbor2.py
  benchmarks/serializers/test_extended_json.py
  benchmarks/serializers/test_msgpack.py
  benchmarks/serializers/test_orjson.py
  benchmarks/serializers/test_pickle.py
  justfile
  pyproject.toml
  src/jobify/_internal/serializers/json_extended.py
  tests/test_serializer.py
  uv.lock
Due: lint, mypy, basedpyright, bandit, semgrep, zizmor

refactor: replace custom EMPTY placeholder with UNSET sentinel
  src/jobify/_internal/common/constants.py
  src/jobify/_internal/common/datastructures.py
  src/jobify/_internal/scheduler/job.py
  src/jobify/_internal/storage/sqlite.py
  src/jobify/jobify.py
  tests/conftest.py
  tests/test_datastructures.py
Due: lint, mypy, basedpyright, bandit, semgrep

build: reorganize dependencies, refactor benchmarks, fix test filename and update font
  benchmarks/serializers/common.py
  benchmarks/serializers/test_cbor2.py
  benchmarks/serializers/test_extended_json.py
  benchmarks/serializers/test_msgpack.py
  benchmarks/serializers/test_orjson.py
  benchmarks/serializers/test_pickle.py
  pyproject.toml
  tests/conftest.py
  uv.lock
  zensical.toml
Due: lint, mypy, basedpyright, bandit, semgrep

chore: update package metadata, refactor: add fast_setup example, replace uuid7 with uuid4 in tests
  examples/__init__.py
  examples/fast_setup.py
  examples/real_world/src/real_world/main.py
  tests/examples/__init__.py
  tests/examples/test_fast_setup.py
  tests/test_typeadapters.py
Due: lint, mypy, basedpyright, bandit, semgrep

test: add built-in JSON serializer benchmark
  benchmarks/serializers/test_builtin_json.py
Due: lint, mypy, basedpyright, bandit, semgrep

chore: update package metadata, classifiers, and dev tooling config
  pyproject.toml
  src/jobify/_internal/context.py
  src/jobify/typeadapter/pydantic.py
Due: lint, mypy, basedpyright, bandit, semgrep
