Repository theseriff/jobify: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, mypy, basedpyright, bandit, semgrep, zizmor

lint:
  name: Linter
  entry: just linter
  language: python
  require_serial: true
  verbose: true
  pass_filenames: false

mypy:
  name: Mypy
  entry: just mypy
  language: python
  require_serial: true
  verbose: true
  pass_filenames: false

basedpyright:
  name: Basedpyright
  entry: just basedpyright
  language: python
  require_serial: true
  verbose: true
  pass_filenames: false

bandit:
  name: bandit
  entry: just bandit
  language: python
  require_serial: true
  verbose: true
  pass_filenames: false

semgrep:
  name: semgrep
  language: python
  entry: just semgrep
  require_serial: true
  verbose: true
  pass_filenames: false

zizmor:
  name: zizmor
  language: python
  entry: just zizmor
  require_serial: true
  verbose: true
  pass_filenames: false

fix(ci): publish pypi
  .github/workflows/publish_pypi.yml
Due: zizmor

fix(ci): uv install
  .github/workflows/pr_tests.yml
Due: zizmor

fix(ci): pre-commit
  .github/workflows/pr_tests.yml
Due: zizmor

ci: run test-all
  .github/workflows/pr_tests.yml
Due: zizmor

test: added test serializers
  src/iojobs/_internal/func_wrapper.py
  src/iojobs/_internal/scheduler.py
  src/iojobs/_internal/serializers/__init__.py
  src/iojobs/_internal/serializers/abc.py
  src/iojobs/_internal/serializers/ast_literal.py
  tests/test_serializer.py
Due: lint, mypy, basedpyright, bandit, semgrep

abc added
  pyproject.toml
  src/iojobs/__init__.py
  src/iojobs/_internal/durable/abc.py
  src/iojobs/_internal/durable/sqlite.py
  src/iojobs/_internal/func_wrapper.py
  src/iojobs/_internal/job_executor.py
  src/iojobs/_internal/serializers/__init__.py
  src/iojobs/_internal/serializers/abc.py
  src/iojobs/_internal/serializers/pickle_unsafe.py
Due: lint, mypy, basedpyright, bandit, semgrep

build: update justfile
  justfile
Due: none

Feat/durable (#14)
  .github/dependabot.yml
  .github/workflows/pr_tests.yml
  .github/workflows/publish_pypi.yml
  .github/zizmor.yml
  justfile
  pyproject.toml
  src/iojobs/__init__.py
  src/iojobs/_internal/_types.py
  src/iojobs/_internal/command_runner.py
  src/iojobs/_internal/durable/abc.py
  src/iojobs/_internal/durable/sqlite.py
  src/iojobs/_internal/enums.py
  src/iojobs/_internal/exceptions.py
  src/iojobs/_internal/executors.py
  src/iojobs/_internal/executors_pool.py
  src/iojobs/_internal/func_wrapper.py
  src/iojobs/_internal/job_executor.py
  src/iojobs/_internal/job_runner.py
  src/iojobs/_internal/scheduler.py
  src/iojobs/_internal/serializers/__init__.py
  src/iojobs/_internal/serializers/abc.py
  src/iojobs/_internal/serializers/ast_literal.py
  src/iojobs/_internal/serializers/pickle_unsafe.py
  src/iojobs/exceptions/__init__.py
  src/iojobs/serializers/__init__.py
  tests/conftest.py
  tests/test_cron.py
  tests/test_exceptions.py
  tests/test_func_wrapper.py
  tests/test_job_runner.py
  tests/test_scheduler.py
  tests/test_serializer.py
  uv.lock
Due: lint, mypy, basedpyright, bandit, semgrep, zizmor

refactor: JobInnerDeps created
  .github/dependabot.yml
  .github/workflows/pr_tests.yml
  pyproject.toml
  src/iojobs/_internal/_inner_deps.py
  src/iojobs/_internal/_types.py
  src/iojobs/_internal/executors_pool.py
  src/iojobs/_internal/func_wrapper.py
  src/iojobs/_internal/job_runner.py
  src/iojobs/_internal/scheduler.py
  tests/test_scheduler.py
  uv.lock
Due: lint, mypy, basedpyright, bandit, semgrep, zizmor

Refactor/add inner deps (#19)
  .github/dependabot.yml
  .github/workflows/pr_codeql.yml
  .github/workflows/pr_tests.yml
  .github/workflows/publish_pypi.yml
  justfile
  pyproject.toml
  src/iojobs/_internal/_inner_deps.py
  src/iojobs/_internal/_types.py
  src/iojobs/_internal/executors_pool.py
  src/iojobs/_internal/func_wrapper.py
  src/iojobs/_internal/job_runner.py
  src/iojobs/_internal/scheduler.py
  tests/test_job_runner.py
  tests/test_scheduler.py
  uv.lock
Due: lint, mypy, basedpyright, bandit, semgrep, zizmor

refactor: compact runner context (#21)
  src/iojobs/_internal/exceptions.py
  src/iojobs/_internal/func_wrapper.py
  src/iojobs/_internal/job_runner.py
  src/iojobs/_internal/scheduler.py
  src/iojobs/exceptions/__init__.py
  tests/test_cron.py
  tests/test_exceptions.py
  tests/test_func_wrapper.py
  tests/test_job_runner.py
  tests/test_scheduler.py
Due: lint, mypy, basedpyright, bandit, semgrep

fix: unconsistents on_error_hooks and on_success_hooks
  pyproject.toml
  src/iojobs/__init__.py
  src/iojobs/_internal/constants.py
  src/iojobs/_internal/durable/abc.py
  src/iojobs/_internal/enums.py
  src/iojobs/_internal/func_wrapper.py
  src/iojobs/_internal/job_runner.py
  src/iojobs/_internal/scheduler.py
  tests/conftest.py
  tests/test_job_runner.py
Due: lint, mypy, basedpyright, bandit, semgrep

refactor: improve code comments readability
  pyproject.toml
  src/iojobs/_internal/func_wrapper.py
Due: lint, mypy, basedpyright, bandit, semgrep

perf: add benchmark suite
  benchmarks/README.md
  benchmarks/__init__.py
  benchmarks/basics.py
  benchmarks/bench.py
  benchmarks/benches.json
  benchmarks/serializers.py
  pyproject.toml
  src/iojobs/_internal/_types.py
  src/iojobs/_internal/scheduler.py
  src/iojobs/_internal/serializers/abc.py
  src/iojobs/_internal/serializers/ast_literal.py
  src/iojobs/_internal/serializers/json.py
  src/iojobs/_internal/serializers/pickle_unsafe.py
  src/iojobs/serializers/__init__.py
  tests/conftest.py
  tests/test_serializer.py
Due: lint, mypy, basedpyright, bandit, semgrep

perf: polish logging
  .pre-commit-config.yaml
  benchmarks/bench.py
  benchmarks/benches.json
  benchmarks/serializers.py
Due: lint, mypy, basedpyright, bandit, semgrep

refactor: polish api
  src/iojobs/_internal/command_runner.py
  src/iojobs/_internal/constants.py
  src/iojobs/_internal/datastructures.py
  src/iojobs/_internal/job_runner.py
  tests/test_cron.py
  tests/test_job_runner.py
  tests/test_scheduler.py
Due: lint, mypy, basedpyright, bandit, semgrep

feat: middleware added
  src/iojobs/__init__.py
  src/iojobs/_internal/command_runner.py
  src/iojobs/_internal/func_original.py
  src/iojobs/_internal/func_wrapper.py
  src/iojobs/_internal/middleware/__init__.py
  src/iojobs/_internal/middleware/base.py
  src/iojobs/_internal/middleware/resolver.py
  src/iojobs/_internal/runner/__init__.py
  src/iojobs/_internal/runner/command.py
  src/iojobs/_internal/runner/job.py
  src/iojobs/_internal/runner/runner.py
  src/iojobs/_internal/scheduler.py
  tests/test_exceptions.py
  tests/test_func_wrapper.py
  tests/test_job_runner.py
  tests/test_scheduler.py
Due: lint, mypy, basedpyright, bandit, semgrep

refactor: executor & runner
  src/jobber/__init__.py
  src/jobber/_internal/common/__init__.py
  src/jobber/_internal/common/annotations.py
  src/jobber/_internal/common/constants.py
  src/jobber/_internal/common/cron_parser.py
  src/jobber/_internal/common/datastructures.py
  src/jobber/_internal/context.py
  src/jobber/_internal/durable/abc.py
  src/jobber/_internal/func_wrapper.py
  src/jobber/_internal/handler.py
  src/jobber/_internal/jobber.py
  src/jobber/_internal/middleware/base.py
  src/jobber/_internal/middleware/pipeline.py
  src/jobber/_internal/runner/command.py
  src/jobber/_internal/runner/executor.py
  src/jobber/_internal/runner/job.py
  src/jobber/_internal/runner/scheduler.py
  tests/test_cron.py
  tests/test_datastructures.py
  tests/test_job_runner.py
  tests/test_scheduler.py
Due: lint, mypy, basedpyright, bandit, semgrep

refactor: polish naming
  benchmarks/bench.py
  src/jobber/_internal/common/datastructures.py
  src/jobber/_internal/func_wrapper.py
  src/jobber/_internal/handler.py
  src/jobber/_internal/jobber.py
  src/jobber/_internal/runner/job.py
  src/jobber/_internal/runner/scheduler.py
  tests/test_datastructures.py
  tests/test_job_runner.py
  tests/test_scheduler.py
Due: lint, mypy, basedpyright, bandit, semgrep

rafactor: polish executor
  src/jobber/_internal/func_wrapper.py
  src/jobber/_internal/handler.py
  src/jobber/_internal/middleware/pipeline.py
  src/jobber/_internal/runner/executor.py
  src/jobber/_internal/runner/scheduler.py
Due: lint, mypy, basedpyright, bandit, semgrep

refactor: execution_mode
  src/jobber/_internal/context.py
  src/jobber/_internal/durable/abc.py
  src/jobber/_internal/func_wrapper.py
  src/jobber/_internal/jobber.py
  src/jobber/_internal/middleware/pipeline.py
  src/jobber/_internal/runner/executor.py
  src/jobber/_internal/runner/scheduler.py
  tests/test_scheduler.py
Due: lint, mypy, basedpyright, bandit, semgrep

chore: polish ruff rules
  pyproject.toml
Due: none

fix: check exec_mode if func is async
  src/jobber/_internal/jobber.py
  src/jobber/_internal/runner/executor.py
Due: lint, mypy, basedpyright, bandit, semgrep

feat: exception middleware
  justfile
  pyproject.toml
  src/jobber/_internal/common/types.py
  src/jobber/_internal/context.py
  src/jobber/_internal/exceptions.py
  src/jobber/_internal/func_wrapper.py
  src/jobber/_internal/jobber.py
  src/jobber/_internal/middleware/base.py
  src/jobber/_internal/middleware/exceptions.py
  src/jobber/_internal/runner/executor.py
  src/jobber/_internal/runner/job.py
  src/jobber/_internal/runner/scheduler.py
  src/jobber/_internal/serializers/json.py
  src/jobber/exceptions/__init__.py
  tests/test_injection.py
  tests/test_middleware.py
Due: lint, mypy, basedpyright, bandit, semgrep

rafactor: naming
  pyproject.toml
  src/jobber/__init__.py
  src/jobber/_internal/context.py
  src/jobber/_internal/durable/dummy.py
  src/jobber/_internal/durable/sqlite.py
  src/jobber/_internal/jobber.py
  src/jobber/_internal/routing.py
  src/jobber/_internal/runner/executor.py
  src/jobber/_internal/runner/scheduler.py
  src/jobber/_internal/storage/__init__.py
  src/jobber/_internal/storage/abc.py
  src/jobber/_internal/storage/dummy.py
  src/jobber/_internal/storage/sqlite.py
  tests/test_func_wrapper.py
Due: lint, mypy, basedpyright, bandit, semgrep

perf: middleware pre-build speeded
  pyproject.toml
  src/jobber/__init__.py
  src/jobber/_internal/context.py
  src/jobber/_internal/injection.py
  src/jobber/_internal/jobber.py
  src/jobber/_internal/middleware/base.py
  src/jobber/_internal/middleware/exceptions.py
  src/jobber/_internal/routing.py
  src/jobber/_internal/runner/executor.py
  src/jobber/_internal/runner/runnable.py
  src/jobber/_internal/runner/scheduler.py
  tests/test_injection.py
  tests/test_middleware.py
Due: lint, mypy, basedpyright, bandit, semgrep

rafactor: improve api (UX)
  src/jobber/_internal/common/constants.py
  src/jobber/_internal/common/datastructures.py
  src/jobber/_internal/common/types.py
  src/jobber/_internal/context.py
  src/jobber/_internal/exceptions.py
  src/jobber/_internal/injection.py
  src/jobber/_internal/jobber.py
  src/jobber/_internal/middleware/base.py
  src/jobber/_internal/middleware/exceptions.py
  src/jobber/_internal/routing.py
  src/jobber/_internal/runner/job.py
  src/jobber/_internal/runner/scheduler.py
  src/jobber/_internal/serializers/abc.py
  tests/test_exceptions.py
  tests/test_job_runner.py
Due: lint, mypy, basedpyright, bandit, semgrep

Merge pull request #35 from suiseriff/feat/implement-timeout-and-metadata-for-job
  src/jobber/_internal/common/constants.py
  src/jobber/_internal/common/datastructures.py
  src/jobber/_internal/exceptions.py
  src/jobber/_internal/jobber.py
  src/jobber/_internal/routing.py
  src/jobber/_internal/runner/job.py
  src/jobber/_internal/runner/runnable.py
  src/jobber/_internal/runner/scheduler.py
  src/jobber/exceptions/__init__.py
  tests/test_exceptions.py
  tests/test_injection.py
  tests/test_job.py
  tests/test_middleware.py
Due: lint, mypy, basedpyright, bandit, semgrep

refactor: Rename ExecutionMode to RunMode (#39)
  README.md
  pyproject.toml
  src/jobber/__init__.py
  src/jobber/_internal/common/constants.py
  src/jobber/_internal/configuration.py
  src/jobber/_internal/context.py
  src/jobber/_internal/jobber.py
  src/jobber/_internal/routing.py
  src/jobber/_internal/runner/job.py
  src/jobber/_internal/runner/runners.py
  src/jobber/_internal/runner/scheduler.py
  src/jobber/_internal/storage/abc.py
  tests/test_injection.py
  tests/test_scheduler.py
Due: lint, mypy, basedpyright, bandit, semgrep

docs: improve documentation and description
  README.md
  pyproject.toml
Due: none

build: update pyproject.toml
  pyproject.toml
Due: none

chore(cd): update publish_pypi.yml
  .github/workflows/publish_pypi.yml
  .github/zizmor.yml
Due: zizmor

refactor: enhance middleware system with retry and timeout support
  src/jobber/_internal/context.py
  src/jobber/_internal/jobber.py
  src/jobber/_internal/middleware/exceptions.py
  src/jobber/_internal/middleware/retry.py
  src/jobber/_internal/middleware/timeout.py
  src/jobber/_internal/routing.py
  src/jobber/_internal/runner/job.py
  src/jobber/_internal/runner/scheduler.py
  tests/conftest.py
  tests/test_exceptions.py
  tests/test_injection.py
  tests/test_middleware.py
Due: lint, mypy, basedpyright, bandit, semgrep

refactor: unify router hierarchy and simplify configuration
  src/jobber/_internal/configuration.py
  src/jobber/_internal/jobber.py
  src/jobber/_internal/middleware/base.py
  src/jobber/_internal/middleware/exceptions.py
  src/jobber/_internal/middleware/retry.py
  src/jobber/_internal/middleware/timeout.py
  src/jobber/_internal/router.py
  src/jobber/_internal/routers/abc.py
  src/jobber/_internal/routers/base.py
  src/jobber/_internal/routers/node.py
  src/jobber/_internal/routers/root.py
  src/jobber/_internal/runner/scheduler.py
  src/jobber/_internal/serializers/base.py
  src/jobber/_internal/serializers/json.py
  src/jobber/_internal/serializers/pickle_unsafe.py
  src/jobber/jobber.py
  src/jobber/middleware/__init__.py
  src/jobber/serializers/__init__.py
  tests/test_func_wrapper.py
Due: lint, mypy, basedpyright, bandit, semgrep

refactor: restructure router system and eliminate Jobber wrapper class
  src/jobber/_internal/jobber.py
  src/jobber/_internal/middleware/base.py
  src/jobber/_internal/routers/base.py
  src/jobber/_internal/routers/node.py
  src/jobber/_internal/routers/root.py
  src/jobber/_internal/runner/scheduler.py
  src/jobber/jobber.py
  tests/test_router.py
Due: lint, mypy, basedpyright, bandit, semgrep

Feature/router (#42)
  pyproject.toml
  src/jobber/__init__.py
  src/jobber/_internal/common/constants.py
  src/jobber/_internal/configuration.py
  src/jobber/_internal/context.py
  src/jobber/_internal/cron_parser.py
  src/jobber/_internal/exceptions.py
  src/jobber/_internal/jobber.py
  src/jobber/_internal/middleware/base.py
  src/jobber/_internal/router/__init__.py
  src/jobber/_internal/router/base.py
  src/jobber/_internal/router/node.py
  src/jobber/_internal/router/root.py
  src/jobber/_internal/routing.py
  src/jobber/_internal/runner/job.py
  src/jobber/_internal/runner/runners.py
  src/jobber/_internal/runner/scheduler.py
  src/jobber/_internal/serializers/base.py
  src/jobber/_internal/serializers/json.py
  src/jobber/_internal/serializers/pickle_unsafe.py
  src/jobber/crontab.py
  src/jobber/exceptions/__init__.py
  src/jobber/jobber.py
  src/jobber/serializers/__init__.py
  tests/conftest.py
  tests/test_cron.py
  tests/test_exceptions.py
  tests/test_func_wrapper.py
  tests/test_injection.py
  tests/test_job.py
  tests/test_middleware.py
  tests/test_router.py
  tests/test_scheduler.py
Due: lint, mypy, basedpyright, bandit, semgrep

feat: add PERMANENTLY_FAILED status and improve cron job durability
  src/jobber/__init__.py
  src/jobber/_internal/common/constants.py
  src/jobber/_internal/configuration.py
  src/jobber/_internal/cron_parser.py
  src/jobber/_internal/exceptions.py
  src/jobber/_internal/router/base.py
  src/jobber/_internal/router/node.py
  src/jobber/_internal/router/root.py
  src/jobber/_internal/runner/job.py
  src/jobber/_internal/runner/scheduler.py
  src/jobber/crontab.py
  src/jobber/exceptions/__init__.py
  src/jobber/jobber.py
  tests/conftest.py
  tests/test_cron.py
  tests/test_exceptions.py
  tests/test_func_wrapper.py
  tests/test_job.py
  tests/test_router.py
  tests/test_scheduler.py
Due: lint, mypy, basedpyright, bandit, semgrep

refactor: reorder Route constructor parameters and enhance serialization
  src/jobber/_internal/configuration.py
  src/jobber/_internal/router/base.py
  src/jobber/_internal/router/node.py
  src/jobber/_internal/router/root.py
  src/jobber/_internal/runner/runners.py
  src/jobber/_internal/serializers/json.py
  tests/conftest.py
  tests/test_injection.py
Due: lint, mypy, basedpyright, bandit, semgrep

feat(serializers): add dataclass support to json_extended_encoder
  src/jobber/_internal/configuration.py
  src/jobber/_internal/cron_parser.py
  src/jobber/_internal/exceptions.py
  src/jobber/_internal/middleware/exceptions.py
  src/jobber/_internal/router/base.py
  src/jobber/_internal/runner/job.py
  src/jobber/_internal/runner/runners.py
  src/jobber/_internal/runner/scheduler.py
  src/jobber/_internal/serializers/base.py
  src/jobber/_internal/serializers/json.py
  src/jobber/exceptions/__init__.py
  src/jobber/jobber.py
  src/jobber/serializers/__init__.py
  tests/conftest.py
  tests/test_cron.py
  tests/test_exceptions.py
  tests/test_job.py
  tests/test_scheduler.py
  tests/test_serializer.py
Due: lint, mypy, basedpyright, bandit, semgrep

Path conditions:
  lint: any of: \.py$
  mypy: any of: \.py$
  basedpyright: any of: \.py$
  bandit: any of: \.py$
  semgrep: any of: \.py$
  zizmor: any of: ^\.github\/workflows\/
