Repository theseriff/jobify: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, mypy, basedpyright, bandit, semgrep, zizmor

.pre-commit-config.yaml:

default_stages: [pre-commit, pre-merge-commit, manual]
repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.2.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args:
          [
            --strict,
            --force-scope,
            feat,
            fix,
            docs,
            style,
            refactor,
            test,
            chore,
            build,
          ]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-yaml
      - id: check-toml
      - id: check-added-large-files
      - id: check-case-conflict
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/crate-ci/typos
    rev: v1.36.3
    hooks:
      - id: typos

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets

  - repo: local
    hooks:
      - id: lint
        name: Linter
        entry: just linter
        language: python
        types: [python]
        require_serial: true
        verbose: true
        pass_filenames: false

      - id: mypy
        name: Mypy
        entry: just mypy
        language: python
        types: [python]
        require_serial: true
        verbose: true
        pass_filenames: false

      - id: basedpyright
        name: Basedpyright
        entry: just basedpyright
        language: python
        types: [python]
        require_serial: true
        verbose: true
        pass_filenames: false

      - id: bandit
        name: bandit
        entry: just bandit
        language: python
        types: [python]
        require_serial: true
        verbose: true
        pass_filenames: false

      - id: semgrep
        name: semgrep
        language: python
        entry: just semgrep
        types: [python]
        require_serial: true
        verbose: true
        pass_filenames: false

      - id: zizmor
        name: zizmor
        language: python
        entry: just zizmor
        files: ^\.github\/workflows\/
        require_serial: true
        verbose: true
        pass_filenames: false

chore(release): release v0.5.1 [skip ci]
  docs/CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

docs: update link misfire_policy and update ruff configuration
  docs/index.md
  pyproject.toml
  src/jobify/_internal/exceptions.py
Due: lint, mypy, basedpyright, bandit, semgrep

fix: add name field to Runnable for better debugging
  src/jobify/_internal/router/root.py
  src/jobify/_internal/runners.py
  tests/test_injection.py
Due: lint, mypy, basedpyright, bandit, semgrep

docs: update examples and upgrade build dependencies
  README.md
  docs/index.md
  pyproject.toml
Due: none

docs: add comprehensive real-world backup application example
  examples/real_world/.gitignore
  examples/real_world/.python-version
  examples/real_world/README.md
  examples/real_world/db.sqlite
  examples/real_world/pyproject.toml
  examples/real_world/src/real_world/__init__.py
  examples/real_world/src/real_world/backup_db.py
  examples/real_world/src/real_world/configs.py
  examples/real_world/src/real_world/main.py
  examples/real_world/src/real_world/notifications.py
Due: lint, mypy, basedpyright, bandit, semgrep

chore(release): release v0.5.2 [skip ci]
  docs/CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

chore: update tooling configuration and documentation URLs
  .pre-commit-config.yaml
  examples/real_world/pyproject.toml
  justfile
  pyproject.toml
  uv.lock
Due: none

docs: add contributing guidelines and update documentation
  CONTRIBUTING.md
  docs/contributing.md
  zensical.toml
Due: none

chore: add logging for schedule restoration and cleanup
  src/jobify/jobify.py
Due: lint, mypy, basedpyright, bandit, semgrep

refactor(examples): move config loading to classmethod and fix type imports
  examples/real_world/src/real_world/backup_db.py
  examples/real_world/src/real_world/configs.py
  examples/real_world/src/real_world/main.py
Due: lint, mypy, basedpyright, bandit, semgrep

refactor(scheduler): simplify job update logic and unify cron scheduling
  src/jobify/_internal/scheduler/job.py
  src/jobify/_internal/scheduler/scheduler.py
Due: lint, mypy, basedpyright, bandit, semgrep

docs: update README.md
  README.md
Due: none

feat(router): support custom route_class for Jobify and JobRouter
  README.md
  docs/app_settings.md
  docs/router.md
  pyproject.toml
  src/jobify/_internal/router/base.py
  src/jobify/_internal/router/node.py
  src/jobify/_internal/router/root.py
  src/jobify/jobify.py
  src/jobify/router/__init__.py
Due: lint, mypy, basedpyright, bandit, semgrep

test(timeout): add timeouts to CI jobs and async tests
  .github/workflows/pr_tests.yml
  tests/test_cron.py
  tests/test_lifespan.py
  tests/test_scheduler.py
  tests/test_storage.py
Due: lint, mypy, basedpyright, bandit, semgrep, zizmor

feat(middleware): introduce outer middleware for job scheduling
  src/jobify/_internal/context.py
  src/jobify/_internal/middleware/base.py
  src/jobify/_internal/router/base.py
  src/jobify/_internal/router/node.py
  src/jobify/_internal/router/root.py
  src/jobify/_internal/scheduler/scheduler.py
  src/jobify/_internal/storage/abc.py
  src/jobify/jobify.py
Due: lint, mypy, basedpyright, bandit, semgrep

feat(middleware): introduce outer middleware for job scheduling
  src/jobify/__init__.py
  src/jobify/_internal/configuration.py
  src/jobify/_internal/context.py
  src/jobify/_internal/middleware/base.py
  src/jobify/_internal/router/base.py
  src/jobify/_internal/router/node.py
  src/jobify/_internal/router/root.py
  src/jobify/_internal/scheduler/job.py
  src/jobify/_internal/scheduler/misfire_policy.py
  src/jobify/_internal/scheduler/scheduler.py
  src/jobify/_internal/shared_state.py
  src/jobify/_internal/storage/abc.py
  src/jobify/jobify.py
  src/jobify/middleware/__init__.py
  tests/test_cron.py
  tests/test_exceptions.py
  tests/test_jobify.py
  tests/test_middleware.py
  tests/test_scheduler.py
  tests/test_storage.py
Due: lint, mypy, basedpyright, bandit, semgrep

docs: document OuterMiddleware, OuterContext and force parameter
  docs/app_settings.md
  docs/context.md
  docs/router.md
  docs/schedule.md
Due: none

chore(release): release v0.6.0 [skip ci]
  docs/CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

refactor: polish api
  docs/app_settings.md
  src/jobify/_internal/common/constants.py
  src/jobify/_internal/router/root.py
  src/jobify/_internal/scheduler/job.py
  src/jobify/router/__init__.py
  tests/test_job.py
Due: lint, mypy, basedpyright, bandit, semgrep

refactor(job): rename _status to status
  src/jobify/_internal/scheduler/job.py
  src/jobify/_internal/scheduler/scheduler.py
Due: lint, mypy, basedpyright, bandit, semgrep

fix(scheduler): getting origin_arguments instead bound.argument
  src/jobify/_internal/scheduler/scheduler.py
  tests/test_cron.py
Due: lint, mypy, basedpyright, bandit, semgrep

chore(release): release v0.6.1 [skip ci]
  docs/CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

ci: fix zizmor rule
  .github/dependabot.yml
  .github/workflows/pr_tests.yml
Due: zizmor

docs: add guide for immediate execution via .push()
  docs/schedule.md
  src/jobify/_internal/scheduler/scheduler.py
Due: lint, mypy, basedpyright, bandit, semgrep

feat(scheduler): introduce .push() as a concise alternative to .delay(0)
  src/jobify/_internal/context.py
  src/jobify/_internal/message.py
  src/jobify/_internal/router/base.py
  src/jobify/_internal/router/node.py
  src/jobify/_internal/router/root.py
  src/jobify/_internal/scheduler/job.py
  src/jobify/_internal/scheduler/scheduler.py
  src/jobify/_internal/shared_state.py
  src/jobify/jobify.py
  tests/test_job.py
  tests/test_scheduler.py
  tests/test_storage.py
Due: lint, mypy, basedpyright, bandit, semgrep

chore(release): release v0.7.0 [skip ci]
  docs/CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

docs: refactor quick start
  README.md
  docs/index.md
Due: none

docs(index): fix hl_lines
  docs/index.md
  src/jobify/crontab.py
Due: lint, mypy, basedpyright, bandit, semgrep

fix: cancel task when task is running
  src/jobify/_internal/scheduler/scheduler.py
  src/jobify/_internal/shared_state.py
  src/jobify/jobify.py
  tests/test_cron.py
  tests/test_scheduler.py
Due: lint, mypy, basedpyright, bandit, semgrep

chore(release): release v0.7.1 [skip ci]
  docs/CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

docs: fix quick start code sample error
  README.md
  docs/index.md
Due: none

refactor: restore job inmemory
  src/jobify/jobify.py
  tests/test_jobify.py
Due: lint, mypy, basedpyright, bandit, semgrep

build(deps): bump the github-actions group with 5 updates
  .github/workflows/pr_codeql.yml
  .github/workflows/pr_dependency_review.yml
  .github/workflows/pr_tests.yml
Due: zizmor

feat(cron): add args and kwargs support for scheduled tasks
  .github/dependabot.yml
  docs/schedule.md
  docs/task_settings.md
  src/jobify/_internal/configuration.py
  src/jobify/_internal/context.py
  src/jobify/_internal/message.py
  src/jobify/_internal/router/root.py
  src/jobify/_internal/scheduler/scheduler.py
  src/jobify/jobify.py
  tests/test_jobify.py
  tests/test_storage.py
Due: lint, mypy, basedpyright, bandit, semgrep

chore(release): release v0.8.0 [skip ci]
  docs/CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

chore: rename filename "abc.py" to "base.py"
  src/jobify/_internal/configuration.py
  src/jobify/_internal/scheduler/job.py
  src/jobify/_internal/scheduler/scheduler.py
  src/jobify/_internal/storage/base.py
  src/jobify/_internal/storage/dummy.py
  src/jobify/_internal/storage/sqlite.py
  src/jobify/jobify.py
  tests/test_storage.py
Due: lint, mypy, basedpyright, bandit, semgrep

refactor: replace dataclasses with manual __slots__ implementations
  src/jobify/_internal/configuration.py
  src/jobify/_internal/context.py
  src/jobify/_internal/inspection.py
  src/jobify/_internal/scheduler/job.py
  src/jobify/_internal/shared_state.py
  src/jobify/jobify.py
  tests/test_jobify.py
Due: lint, mypy, basedpyright, bandit, semgrep

fix(middleware): allow exception handlers to return values
  src/jobify/_internal/middleware/exceptions.py
  tests/test_middleware.py
Due: lint, mypy, basedpyright, bandit, semgrep

test: add jobify latency tests
  .pre-commit-config.yaml
  benchmarks/bench.py
  benchmarks/benches.json
  benchmarks/latency_run.py
  benchmarks/serializers.py
  src/jobify/storage/__init__.py
Due: lint, mypy, basedpyright, bandit, semgrep

refactor: restructure exception handling and rename SharedState to TaskTracker
  benchmarks/benches.json
  src/jobify/_internal/common/types.py
  src/jobify/_internal/configuration.py
  src/jobify/_internal/context.py
  src/jobify/_internal/middleware/exceptions.py
  src/jobify/_internal/router/base.py
  src/jobify/_internal/router/node.py
  src/jobify/_internal/router/root.py
  src/jobify/_internal/scheduler/scheduler.py
  src/jobify/_internal/task_tracker.py
  src/jobify/jobify.py
  tests/test_cron.py
  tests/test_injection.py
  tests/test_job.py
  tests/test_jobify.py
  tests/test_lifespan.py
  tests/test_router.py
  tests/test_scheduler.py
  tests/test_storage.py
Due: lint, mypy, basedpyright, bandit, semgrep
